# Ignore all files inside screenshots but keep the directory and .gitkeep
screenshots/*
!screenshots/.gitkeep

# Ignore all files inside unknown_states but keep the directory and .gitkeep
unknown_states/*
!unknown_states/.gitkeep

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
